{:port 3000
 :database-url "postgresql://db:5432/rems?user=rems&password=remspassword"
 :search-index-path "/tmp/rems-search-index"
 :public-url "http://localhost:3000/"
 :authentication :oidc
 :oidc-metadata-url "http://mock-aai:8080/oidc/.well-known/openid-configuration"
 :oidc-client-id "rems-client"
 :oidc-client-secret "rems-secret"
 :oidc-scopes "openid profile email"
 :oidc-userid-attributes [{:attribute "sub"}]
 :oidc-name-attributes ["name" "unique_name" "family_name"]
 :oidc-email-attributes ["email"]
 :log-authentication-details true
 :extra-stylesheets {:root "./" :files ["/example-theme/extra-styles.css"]}}
